@import url(1Default.css);
/*#B03063*/

:root {
  --theMain-Color: #44b869;
  --custom-color-accent-light: var(--theMain-Color); /*main accent*/
  --custom-color-accent-dark: var(--theMain-Color);
  --custom-color-slider1: var(--theMain-Color);
  --custom-color-slider2: var(--theMain-Color);
  --tsv-font-subtitle-color: var(--theMain-Color) !important; /* for spacer etc...*/
  --tsv-chat-link-color: #00ff2b !important; /* Link in chat */
  --tsv-highlight-color: #59b844 !important;
}

.ts-server-tree-item-root {
    background-image:url(akali.png);
    background-position:center;
    background-repeat: no-repeat;

}
